#backgroundheader {
  background: linear-gradient(
    228.57deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );
  max-width: 100%;
  padding-bottom: 60px;
  border-radius: 0px 0px 12px 12px;
  @media (max-width: 685px) {
    header {
      max-width: 100%;
      padding: 0;
      @media (max-width: 685px) {
        .parameters {
          background-color: #f5f5fa33;
        }
        #hamburger {
          &:hover span {
            background-color: #000000 !important;
          }
          span {
            background-color: white !important;
          }
        }
      }
      #smallsizegridoptions.active {
        .option {
          color: #24a3ff !important;
          &:hover {
            color: #f0145a !important;
          }
        }
      }
    }
  }
}
#backgroundimage {
  background-image: url(../images/Symbol.png);
  background-size: 850px;
  background-repeat: no-repeat;
  background-position: center;
  background-position: top;
  @media (max-width: 685px) {
    background-size: 650px;
  }
}
header {
  margin-top: 0;
  padding-top: 50px;

  #symbolh1 {
    display: none;
  }
  #wordTeam {
    display: none !important;
  }
  #LawCompany {
    color: white !important;
  }
  .headerleftpart a {
    color: white !important;
  }

  .languagebutton {
    color: white !important;
  }
  .unactivebutton {
    &:hover {
      background-color: #ffffff33 !important;
    }
  }
  #location {
    color: white !important;
  }
  #number {
    color: white !important;
  }
  #facebookhover {
    fill: white;
  }
}
.optionstocontact {
  .option {
    color: white;
    border-bottom: 2px #ffffff00 solid;
    &:hover {
      color: #ffff;
      border-bottom: 2px #ffff solid;
    }
  }
}

.MiddleLetterandText {
  display: flex;
  min-height: 757px;
  min-height: 855px;
  justify-content: center;
  position: relative;

  align-items: center;

  margin-left: auto;
  margin-right: auto;
  @media (max-width: 960px) {
    min-height: 740px;
  }
  @media (max-width: 685px) {
    max-width: 315px;
    min-height: 640px;
    text-align: center;
  }

  #textinImg {
    display: flex;
    position: relative;
    bottom: 45px;

    color: white !important;

    z-index: 2;
    font-size: 38px;
    @media (max-width: 960px) {
      bottom: 100px;
    }
    @media (max-width: 685px) {
      max-width: 315px;
      justify-content: center;
      align-items: center;
      bottom: 50px;
    }
  }
  #imgOfH {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 25%;
    right: 25%;
    max-width: 1000px;
  }
  #ArrowEnter {
    bottom: 25px;
    left: calc(50% - 42px);
    text-decoration: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    &:hover {
      #CircleColor {
        stroke: #f0145a;
        opacity: 0.5;
      }
      #ArrowEnterColor {
        stroke: #f0145a;
      }
    }

    .TwoAbsoluteSVG {
      margin-left: -31px;
      position: relative;
      top: 2px;
    }
  }
}

#DesriptionMenu {
  position: relative;
  margin-top: 60px;
  display: flex;
  height: 305px;

  // justify-content: center;

  @media (max-width: 960px) {
    flex-direction: column;
    height: 380px;
  }
  @media (max-width: 685px) {
    height: 420px;
    margin-top: 30px;
  }

  #GeneralNames {
    user-select: none;
    position: relative;
    max-width: 375px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
    margin-right: 60px;
    width: 100%;
    text-wrap: nowrap;

    @media (max-width: 960px) {
      flex-direction: row;
      align-self: flex-start;
      margin-right: 0;

      overflow-x: scroll;
      overflow-y: hidden;

      max-width: 100%;
      &::-webkit-scrollbar {
        width: 5px;
        height: 15px;
      }
      &::-webkit-scrollbar-track {
        background: #f1f1f15d;
      }
      &::-webkit-scrollbar-thumb {
        background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
        cursor: pointer;
      }
    }
    @media (max-width: 685px) {
      overflow-x: scroll;
      max-height: 36.5px;

      max-width: 315px;

      &::-webkit-scrollbar {
        width: 5px;
        height: 2px;
        position: absolute;
      }
    }
    .unactiveName {
      font-size: 38px;
      line-height: 46.32px;
      color: #b3b3ba;
      @media (max-width: 960px) {
        flex-direction: row;
        margin-right: 0;
      }
      @media (max-width: 685px) {
        font-size: 30px;
        line-height: 36.5px;
        word-break: break-all;
        flex-wrap: wrap;
      }

      &:hover {
        color: #f0145a;
      }
    }

    .activeName {
      background: linear-gradient(90.13deg, #ef8080 0.84%, #f0145a 99.96%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  #BetweenMenu {
    background-color: #ffffff4d;
    min-width: 4px;
    height: 100%;
    position: relative;
    @media (max-width: 960px) {
      width: 100%;
      min-height: 4px;
      max-height: 4px;
      margin-bottom: 60px;
      margin-top: 30px;
    }
    @media (max-width: 685px) {
      margin-bottom: 30px;
      margin-top: 15px;
    }
  }
  #GeneralDescription {
    max-width: 860px;

    align-items: center;

    margin-left: 60px;
    display: flex;
    @media (max-width: 960px) {
      margin-left: 0;
    }

    .unactiveDescription {
      display: none;
    }
    .activeDescription {
      display: block;
    }
    .DescriptionName {
      font-size: 30px;
      line-height: 36.6px;
      color: white;
      @media (max-width: 685px) {
        font-size: 20px;
        line-height: 24.38px;
      }
    }
    .DescriptionOfMenu {
      margin-top: 30px;
      font-size: 19px;
      line-height: 30px;
      color: white;
      font-weight: 400;
    }
  }
}
#serviceMenu {
  margin-top: 60px;

  #ServicesName {
    text-decoration: none;
    max-width: 100px;
    text-transform: uppercase;
    color: #24a3ff;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 17.1px;
    &:hover {
      color: #f0145a;
      .ArrowServiceUnder {
        stroke: #f0145a;
      }
    }
    .ArrowService {
      position: relative;
      top: 1.5px;
      right: 5px;
      display: inline-block;
    }
  }
  #Recomendation {
    background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    margin-top: 10px;
    font-size: 38px;
    line-height: 46.35px;
    @media (max-width: 685px) {
      font-size: 30px;
      line-height: 36.57px;
    }
  }

  #storeCards {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 60px;
    @media (max-width: 685px) {
      margin-top: 30px;
      gap: 30px;
    }
    .shopCard {
      max-width: 493px;
      max-height: 268px;
      width: 100%;
      @media (max-width: 1650px) and (min-width: 1380px) {
        max-width: 400px;
        max-height: 321px;
      }
      @media (max-width: 1380px) and (min-width: 960px) {
        max-width: 260px;
        max-height: 400px;
      }
      @media (max-width: 960px) and (min-width: 685px) {
        max-width: 294px;
        max-height: 375px;
      }
      @media (max-width: 685px) {
        max-height: 100%;
      }
      .CardImage {
        display: block;
        max-width: 92px;
        width: 100%;
        max-height: 92px;
        height: 100%;
      }
      .CardName {
        display: block;
        text-decoration: none;
        margin-top: 30px;
        font-size: 22px;
        line-height: 27px;
        color: #24a3ff;
        &:hover {
          color: #f0145a;
        }
      }
      #NextLineName {
        max-width: 250px !important;
      }
      .CardDescription {
        color: white;
        margin-top: 15px;
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
      }
    }
  }
}

#BackgroundUnderHeader1 {
  position: relative;
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #cacadb;
  width: calc(100% - 40px);
  height: 10px;
  border-radius: 0px 0px 12px 12px;
}
#BackgroundUnderHeader2 {
  position: relative;
  display: block;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #e7e7f2;
  width: calc(100% - 80px);
  height: 10px;
  border-radius: 0px 0px 12px 12px;
}

.container {
  max-width: 1620px;
  margin-left: auto !important;
  margin-right: auto !important;
  @media (max-width: 1640px) and (min-width: 1380px) {
    max-width: 1340px;
  }
  @media (max-width: 1380px) and (min-width: 960px) {
    max-width: 924px;
  }
  @media (max-width: 960px) and (min-width: 685px) {
    max-width: 668px;
  }
  @media (max-width: 685px) {
    max-width: 335px;
  }
}

#main {
  margin-top: 60px;
  @media (max-width: 685px) {
    margin-top: 30px;
  }
}
#Slider {
  max-height: 344px;
  @media (max-width: 1380px) and (min-width: 960px) {
    max-height: 574px;
  }
  @media (max-width: 960px) and (min-width: 685px) {
    max-height: 982px;
  }
  @media (max-width: 685px) {
    max-height: 1133px;
  }

  .ImageCard {
    border-radius: 12px;
    overflow: hidden;
    display: flex !important;
    max-height: 298px;
    @media (max-width: 1640px) and (min-width: 1380px) {
      max-height: 344px;
    }
    @media (max-width: 1380px) and (min-width: 960px) {
      max-height: 528px;
    }
    @media (max-width: 960px) and (min-width: 685px) {
      flex-direction: column;
      max-height: 936px;
    }
    @media (max-width: 685px) {
      max-height: 1087px;
      flex-direction: column;
    }

    .ImageOFcard {
      max-width: 400px;
      width: 100%;
      object-fit: cover;

      @media (max-width: 960px) and (min-width: 685px) {
        max-width: 668px;
      }
      @media (max-width: 960px) {
        height: 100%;
        aspect-ratio: 8/13;
        max-height: 500px;
      }
    }
    .DescriptionImageCard {
      padding: 30px;
      background-color: #f5f5fa;
      .TeamLink {
        max-width: 100px;
        text-decoration: none;
        color: #24a3ff;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 14px;
        line-height: 17.1px;
        &:hover {
          color: #f0145a;
          .ArrowServiceUnder {
            stroke: #f0145a;
          }
        }
      }
      .TheQuota {
        max-width: calc(100% - 40px);
        margin-top: 5px;
        background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 38px;
        line-height: 46.35px;
        @media (max-width: 1640px) and (min-width: 685px) {
          max-width: 100%;
        }
        @media (max-width: 685px) {
          font-size: 30px;
          line-height: 36.57px;
          max-width: 100%;
          word-break: break-word;
        }
      }
      .footName {
        margin-top: 30px;
        font-size: 16px;
        line-height: 19.5px;
        color: #b3b3ba;
      }
      .footProffesion {
        margin-top: 6px;
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
        color: #b3b3ba;
      }
    }
  }
}
.dotsinslider {
  display: flex !important;
  list-style: none;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;

  li {
    width: 16px;
    height: 16px;

    button {
      vertical-align: top;
      cursor: pointer;
      border: none;
      outline: none;
      width: 16px;
      height: 16px;
      font-size: 0;
      background-color: #24a3ff !important;
      opacity: 30%;
      border-radius: 100%;
    }
  }
  .slick-active button {
    opacity: 100%;
  }
}

#BannerMenu {
  max-width: 1720px !important;
  padding: 0 !important;

  margin-top: 60px;

  #TextBunner {
    text-align: center;
    color: #323264;
    font-size: 14px;
    line-height: 17.1px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  #Banners {
    margin-top: 30px;
    border-radius: 12px;
    overflow: hidden;
    max-height: 360px;
    height: 100%;
    display: flex;
    columns: 4;
    flex-wrap: wrap;
    @media (max-width: 1750px) {
      border-radius: 0;
    }
    @media (max-width: 960px) and (min-width: 685px) {
      max-height: 480px;
    }
    @media (max-width: 685px) {
      max-height: 720px;
      overflow-y: scroll;
    }
    .OneBanner {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 25%;
      min-height: 120px;
      height: 100%;
      width: 100%;
      @media (max-width: 960px) and (min-width: 685px) {
        max-width: 33.33%;
      }
      @media (max-width: 685px) {
        max-width: 100%;
      }

      .BannerImg {
        display: flex;
      }
    }
    #Banner1 {
      background-color: #1c4280;
    }
    #Banner2 {
      background-color: #143646;
    }
    #Banner3 {
      background-color: #f48b30;
    }
    #Banner4 {
      background-color: #9e4dc3;
    }
    #Banner5 {
      background-color: #fd9339;
    }
    #Banner6 {
      background-color: #e2e2e4;
    }
    #Banner7 {
      background-color: #c71c36;
    }
    #Banner8 {
      background-color: #dcf3f9;
    }
    #Banner9 {
      background-color: #eaeaea;
    }
    #Banner10 {
      background-color: #282240;
    }
    #Banner11 {
      background-color: #1d4568;
    }
    #Banner12 {
      background-color: #000000;
    }
  }
}

#newsSection {
  #NewsHeader {
    #PublicationLink {
      letter-spacing: 1px;
      color: #24a3ff;
      text-transform: uppercase;
      line-height: 17.1px;
      .ArrowService {
        position: relative;
        top: 0;
        right: 2px;
        display: inline-block;
      }
      &:hover {
        color: #f0145a;
        .ArrowServiceUnder {
          stroke: #f0145a;
        }
      }
    }
    #NewsText {
      font-size: 38px;

      margin-top: 10px;
      background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);

      background-clip: text;
      -webkit-text-fill-color: transparent;
      @media (max-width: 685px) {
        font-size: 30px;
      }
    }
  }
  #NewsCards {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    max-height: 430px;
    height: 100%;
    @media (max-width: 1640px) and (min-width: 1380px) {
      max-height: 450px;
    }
    @media (max-width: 1380px) and (min-width: 960px) {
      max-height: 556px;
    }
    @media (max-width: 960px) and (min-width: 685px) {
      flex-wrap: wrap;
      max-height: 932px;
    }
    @media (max-width: 685px) {
      max-height: 1460px;
      flex-wrap: wrap;
    }

    .NewsCard {
      background-color: white;
      max-width: 513.33px;
      width: 100%;
      max-height: 100%;
      border-radius: 8px;
      @media (max-width: 1640px) and (min-width: 1380px) {
        max-width: 420px;
      }
      @media (max-width: 960px) and (min-width: 685px) {
        max-width: calc(50% - 15px);
        max-height: 514px;
      }
      @media (max-width: 685px) {
        max-width: 100%;
        max-height: 432px;
      }
      .NewsCardImg {
        max-height: 200px;
        max-width: 100%;
        object-fit: cover;
      }

      .NewsText {
        padding: 30px;

        .NewsName {
          color: #24a3ff;
          display: block;
          max-width: fit-content;
          text-decoration: none;
          font-size: 16px;
          &:hover {
            color: #f0145a;
          }
        }
        .NewsDate {
          margin-top: 15px;
          text-transform: uppercase;
          font-size: 12px;
          letter-spacing: 1px;
          color: #b3b3ba;
        }
        .NewsLine {
          margin-top: 15px;
          display: block;
          position: relative;
          height: 4px;
          width: 100%;
          background-color: #e6e6f0;
        }
        .NewsParagraph {
          margin-top: 15px;
          color: #000000;
          font-size: 14px;
          line-height: 22px;
          font-weight: 400;
        }
      }
    }
    .NewsCard:last-child {
      @media (max-width: 960px) and (min-width: 685px) {
        max-width: 100%;

        max-height: 388px;
        .NewsCardImg {
          max-width: 100%;
          width: 100%;
        }
      }
    }
  }
}
#FooterLine {
  display: block;
  position: relative;
  background-color: #e6e6f0;
  height: 2px;
  max-width: 1600px;

  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0;
  @media (max-width: 1640px) and (min-width: 1380px) {
    max-width: 1320px;
  }
  @media (max-width: 1380px) and (min-width: 960px) {
    max-width: 904px;
  }
  @media (max-width: 960px) and (min-width: 685px) {
    max-width: 648px;
  }
  @media (max-width: 685px) {
    max-width: 315px;
  }
}
#footer {
  @media (max-width: 1640px) {
    margin-top: 0;
  }
  .rights {
    top: 0;
    right: 10px;
    position: absolute;
    @media (max-width: 960px) and (min-width: 685px) {
    }
    @media (max-width: 960px) {
      margin-top: 0;
      position: absolute;
      top: 0;
      right: 10px;
    }
    @media (max-width: 685px) {
      text-align: center;
    }
    @media (max-width: 685px) {
      position: relative;
      margin-top: 30px;
    }

    #company {
      color: #b3b3ba;
      font-size: 16px;
      line-height: 19.5px;
      font-weight: 400;
    }
  }
  #allinfooter {
    position: relative;
    @media (max-width: 960px) and (min-width: 685px) {
      max-width: 668px;
    }
  }
}
