* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: bisque;
}
.mainre {
  padding: 0px;
  width: 200px;

  margin: 0 auto;
  text-align: center;

  background-color: white;
  opacity: 70%;
}
