* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
body {
  margin-left: auto;
  margin-right: auto;
}
.marginauto {
  margin-left: auto;
  margin-right: auto;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;

  padding-left: 15px;
  padding-right: 15px;
}
.abouttext {
  font-size: 24px;
}
header {
  background-color: #f9f7e8;
  width: 100%;

  padding-top: 25px;
  padding-bottom: 25px;
}
.headerclass {
  display: flex;
}

.headerclass .firstp {
  margin-left: 80px;
}
.headerclass a {
  margin-left: 20px;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  color: #000000;
}
.headerclass span {
  color: #62bfad;
}
.headerclass h2 {
  font-family: Courgette, cursive;
  font-size: 32px;
}

.flexdis {
  display: flex;
  flex-direction: row;
}
.section1 {
  font-family: "Limelight", sans-serif;
  width: 800px;
  font-size: 48px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.sectionred {
  background-color: #d52047;

  padding-top: 185px;
  padding-bottom: 185px;
}
.red1 {
  color: #d52047;

  margin-bottom: 40px;
  font-size: 48px;
}
.backgraywhite {
  background-color: #eff8f6;
  padding-bottom: 80px;
  padding-top: 95px;
}
.insidecon {
  display: flex;
  flex-direction: row;

  background-color: #e5e5e5;
  border-radius: 5px;
}
.firimg {
  max-width: 555px;
  aspect-ratio: 16/9;
}
.textinside {
  padding: 24px;
  font-size: 24px;
}
.label {
  margin-bottom: 24px;
  font-size: 32px;
  font-family: "LatoBold", sans-serif;
}
.red2 {
  color: #d52047;

  margin-bottom: 40px;
  font-size: 48px;
}
.labelcardtitle {
  font-size: 32px;
  font-family: "LatoBold", sans-serif;
}
.cardtitle {
  columns: 3;
}

.castleimg {
  max-width: 275px;
  aspect-ratio: 16/11;

  margin-bottom: 24px;
}
.card1 {
  padding: 24px;
  border: solid 2px #e5e5e5;
  max-width: 325px;
  border-radius: 5px;
}
.marginbottom {
  margin-bottom: 24px;
}
.paddingbottom {
  padding-bottom: 24px;
}
main a {
  color: #d52047;
  text-decoration: none;
  border-bottom: 1px #d52047 solid;
}
.backwhite {
  background-color: #ffffff;
  padding-bottom: 80px;
  padding-top: 80px;
}
footer {
  background-color: #f9f7e8;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.endtext {
  border-bottom: 1px #000000 solid;
}

.endimages {
  text-align: center;

  position: relative;
}
.endimages img {
  width: 24px;
  height: 24px;
}
.twitter {
  margin-right: 16px;
}
.endim {
  position: relative;
}
.hovereff {
  position: absolute;
  bottom: -12px;

  left: 525px;
}
